<div class="container">
<h2>{{blog.name}}</h2>
<a href="/">Home</a>
<a href="/{{blog.id}}/edit">Edit</a>
<a href="/{{blog.id}}/delete">Delete</a>
<h1 class="detailtitle">{{blog.title}}</h1>
<img class="image"src="{{blog.image}}" alt="" />

  <p>
  {{blog.content}}
  </p>
</div>
