<div class="container">
<h2>{{post.name}}</h2>
<a href="/">Home</a>
<a href="/{{post.id}}/edit">Edit</a>
<a href="/{{post.id}}/delete">Delete</a>
<img class="image"src="{{post.image}}" alt="" />
  <h1>Title: {{post.title}}</h1>
  <p>
    Content: {{post.content}}
  </p>
</div>
